.idea/
.gradle/
build/
obj/
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/build/
gradle.properties
TMessagesProj/config/release.keystore
.DS_Store
TMessagesProj/google-services.json
TMessagesProj/config/release/release.keystore
*.li
*.keystore
*.aab